* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
}

h1 {
    font-size: 80px;
    margin-top: 150px;
    margin-left: 70px;
}

h2 {
    font-size: 55px;
}

.orangered {
    color: rgb(252, 131, 62);
}
.greyish {
    color: rgb(85, 83, 83);
}

.blackish {
    color: rgb(27, 26, 26);
}

.display--flex {
    display: flex;
}

/* DIET SECTION */

.diet {
    
}

.diet--text {

}

.diet--image {
    /* background-image: url(images/shapes/Group8450.png); */
    background: no-repeat center/80% url("images/shapes/Group8450.png");
    margin-top: 70px;
    position: relative;
    height: 100vh;
}

#diet--image__img {
    width: 100%;
    position: absolute;
    top: -120px;
    right: 50px;
}

.half--width {
    width: 50%;
}

/* ABOUT ME SECTION */

.about--me {
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;
    margin-bottom: 50px;
}

.myimg {
    height: 80vh;
    position: relative;
}

.myimg img {
    width: 300px;
    height: auto;
    position: absolute;
    left: 30%; 
    top: 23px;  
}

.myinfo {
    padding-top: 100px;
    padding-right: 200px;
}

.myinfo h2 {
    margin-bottom: 30px;
}

.myinfo p {
    line-height: 1.5rem;
}